@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Tinos:wght@400;700&display=swap');

:root {
    /* Fonts */
    --main_font: 'Tinos', serif;
    --sec_font: 'Poppins', sans-serif;
    /* Colors */
    --green: #2E3D21;
    --white: #FFFEF9;
}

body {
    background-color: var(--white);
    color: var(--green);
}

h1, h2, h3 {
    font-family: var(--main_font);
    margin: 0;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
p {
    font-family: var(--sec_font);
    margin: 0;
}
a {
    text_decoration: none;
    color: var(--green);
}

/* Header */
header {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    justify-content: space-between;
    padding: 2rem;
}
header img {
    width: 10rem;
    height: 10rem;
}

/* Navigation */
nav {
    align-self: center;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav li {
    font-family: var(--main_font);
    font-size: 1.2rem;
    font-weight: 700;
}
nav a {
    text-decoration: none;
    color: var(--green);
    padding: 10px 25px;
    border-radius: 5px;
}
nav a:hover {
    background-color: var(--green);
    color: var(--white);
}

/* Main */
main {
    padding: 0 10rem 2rem 10rem;
}
.section_block {
    color: var(--green);
    border-radius: 5px;
    text-align: center;
    padding: 8rem 0;
}
.section_block a {
    color: var(--green);
}

/* Footer */
footer {
    padding: 2rem 10rem;
    background-color: var(--green);
    color: var(--white);
}
.footer_head {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    border-bottom: 0.5px solid var(--white);
    margin: 0 10rem;
}
.footer_head img {
    width: 10rem;
    height: 10rem;
    text-align: center;
}
.footer_head_text {
    align-self: center;
}
.footer_body {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.footer_section ul {
    display: block;
}
.footer_section li {
    font-family: var(--sec_font);
    font-size: 1rem;
}
.footer_section a {
    text-decoration: none;
    color: var(--white);
    padding: 10px 25px;
    border-radius: 5px;
}