@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Tinos:wght@400;700&display=swap');

:root {
    /* Fonts */
    --main_font: 'Tinos', serif;
    --sec_font: 'Poppins', sans-serif;
    /* Colors */
    --green: #2E3D21;
    --white: #FFFEF9;
    --gray: #E4EDF1;
}

body {
    background-color: var(--white);
    color: var(--green);
}

h1, h2, h3 {
    font-family: var(--main_font);
    margin: 0;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
p {
    font-family: var(--sec_font);
    margin: 0;
}
a {
    text-decoration: none;
    font-family: var(--sec_font);
    color: var(--green);
}

/* Header */
header {
    padding: 2rem;
}
header img {
    width: 10rem;
    height: 10rem;
}
header div {
    display: flex;
    justify-content: space-between;
}
nav {
    align-self: center;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav li {
    font-family: var(--main_font);
    font-size: 1.2rem;
    font-weight: 700;
}
#burger_navigation a {
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--sec_font);
    color: var(--green);
}
nav a:hover {
    background-color: var(--green);
    color: var(--white);
}
#main_navigation {
    display: none;
}
#burger_navigation {
    display: none;
}
#burger_icon {
    border: 0;
    color: var(--green);
    background-color: white;
    font-size: 50px;
}
#burger_icon span:nth-child(1) {
    display: block;
}
#burger_icon span:nth-child(2) {
    display: none;
}
#burger_icon.open span:nth-child(1) {
    display: none;
}
#burger_icon.open span:nth-child(2) {
    display: block;
}
#burger_navigation.open {
    display: block;
    padding: 1.5rem;
}
#burger_navigation.open li {
    text-align: center;
    padding: 0.5rem;
}

/* Main */
main {
    padding: 2rem;
}
.section_block {
    color: var(--green);
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}
.section_block a {
    color: var(--green);
}

/* ABOUT US page */
.about_us .introduction p {
    text-align: justify;
}

/* Footer */
footer {
    padding: 1rem;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px 10px 0 0;
}
.footer_head {
    text-align: center;
}
.footer_head img {
    width: 10rem;
    height: 10rem;
    text-align: center;
}
.footer_head_text {
    align-self: center;
}
.footer_head_text h2 {
    font-size: 1.5rem;
}
footer iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 1rem;
}
.footer_body {
    text-align: center;
    padding-top: 1rem;
}
.footer_section ul {
    display: block;
    padding: 0;
}
.footer_section li {
    font-family: var(--sec_font);
    font-size: 1rem;
}
.footer_section a {
    text-decoration: none;
    color: var(--white);
    font-size: 0.8rem;
}
.footer_copyright {
    text-align: center;
    background-color: var(--white);
    color: black;
    border-radius: 10px;
    padding: 1rem;
    font-size: 0.6rem;
    font-weight: 700;
}